
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none
}
body{
    height: 100vh;
    transition: all 1s;
}    
.widget{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 40px;
    height: 20px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 3s;
    float: right;
}
.light{  
    position: absolute;
    top: 1.5px;
    left: 2px;
    height: 13px;
    width: 13px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: all 1s;
}
.dark{
    position: absolute;
    top: 1.5px;
    right: 2px;
    height: 13px;
    width: 13px;
    background-color: rgb(11, 243, 81);
    border-radius: 50%;
    transition: all 1s;
}
