form.searchbox input[type=text] {                
    color: #c6c9ce;                
    height: 30px;               
    padding: 5px;                 
    font-size: 12px;                
    float: left;              
    width: 80%;            
    background: #000000;               
    border: 1px solid #1e1e1e;               
    border-radius: 10px 0px 0px 10px;                  
}
                  
form.searchbox button {                
    height: 30px;               
    float: left;               
    width: 20%;            
    padding: 5px;              
    background: #1e1e1e;             
    color: white;               
    font-size: 12px;               
    border: none;            
    cursor: pointer;               
    border: 1px solid #1e1e1e;            
    border-radius: 0px 10px 10px 0px;             
    text-align: center;              
    line-height: 10px;          
    margin: auto;                
}
                 
form.searchbox button:hover {          
    background: #0b7dda;                
    transition: background 0.2s;                 
}
                  
form.searchbox::after {               
    content: "";              
    clear: both;             
    display: table;                
}
                  
.resultlist {               
    top: -20px;                
    height: 0;              
    width: 100%;              
    transition: height 0.4s;           
    background: #000000;               
    color: #c6c9ce;                 
}
                  
.resultlist#active {               
    border-radius: 10px;               
    border: 1px solid #1e1e1e;              
    height: 40%;                  
}
                 
.resultlist * {              
    margin: 2px;                 
}
                  
.resulttitle {               
    color: #ffffff;              
    font-size: 1em;                  
}

                    
#info {               
    opacity: 1;            
    transition: opacity 0.4s;               
}
                  
#hidden {              
    opacity: 0;                   
}
                  
.fc {               
    text-align: center;                 
}
                   
.title {              
    max-width: 45%;                
}
                  
.tr {                
    text-align: right                  
}
                   
mark {                
    background-color: #0b7dda;               
    border-radius: 4px;              
    color: #fff;                
    margin: 0;                  
}
                  
.showbox {               
    display: -webkit-box;               
    -webkit-box-orient: vertical;              
    -webkit-line-clamp: 2;              
    overflow: hidden;              
    margin: 2px !important                 
}